// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFFFFF !default;
$header-bg-color: #005EB8 !default;

// Background
$page-bg-color: #F0F4F5 !default;

// Text
$section-headings-color: #231f20; !default;
$body-text-color: #212B32 !default;
$body-link-color: #005EB8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;